<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="layout-fullpost">
  <div id="container">
    <div id="menu"><a href="/">Home</a></div>
    <div id="content"></div>
    <div id="sidebar"></div>
  </div>
  <div id="footer">
    <div>Powered by <a href="http://nodejs.org">Node.js</a> and <a href="https://github.com/flatiron/blacksmith">blacksmith</a></div>
  </div>
</body>
</html>
<script src="/scripts/postload.js"></script>
